.adminSidebarWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: auto;
    border: 1px solid white;

}
.adminSidebarList {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 0px 0px 0px 0px;
}
.adminSidebarSingleOption {
    width: 100%;
    height: 60px;
    color: white;
    background: #4C8FFB;
    font-weight: bold;
    margin:5px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.adminSidebarSingleOption:hover{
    border: 1px #C6C6C6 solid;
    box-shadow: 1px 1px 1px #EAEAEA;
    color: #4C8FFB;
    background: #F7F7F7
}

.adminSidebarSingleOptionRedirecter {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.adminSidebarOptionsText {
    margin: 0px;
}
