footer {
	position: fixed!important;
	width: 100%!important;
    height: 40px;
	left: 0!important;
	bottom: 0!important;
	background-color: #2196F3!important;
	color: white!important;
	text-align: center!important;
}
