.NavbarWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    border: 1px solid purple;
}

.NavbarLogoImg {
    height: 100px;
    width: 200px;
}
.NavbarRedirecterWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 400px;
}
.NavbarHomeRedirecter,
.NavbarStoreRedirecter{
    height: 60%;
    width: 50%;
    color: white;
    background: #4C8FFB;
    font-weight: bold;
    margin:5px;
    border-radius: 4px;
    font-size: 14pt;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.NavbarHomeRedirecter:hover,
.NavbarStoreRedirecter:hover{
    border: 1px #C6C6C6 solid;
    box-shadow: 1px 1px 1px #EAEAEA;
    color: #4C8FFB;
    background: #F7F7F7
}
.NavbarSearchWrapper {
    height: 50%;
    display: flex;
    border-radius: 2px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.NavbarSearchTextbox {
    height: 100%;
    width: 300px!important;
    border-radius: 4px;
    font-size: 14pt;
    border:1px solid black;
    padding:0px 0px 0px 0px;
    display: inline-flex;
}
.NavbarSearchButton{
    height: 100%;
    width: 60px;
    display: inline-flex;
    border: none;
    border-radius: 4px;
    background-color: ffffff;
    position: relative;
    border:1px solid black;
    right:60px;
    padding: 0px 0px 0px 0px;
}
.NavbarRedirectLinkWrapper {
    display: flex;
    align-items: center;
    margin:5px;
    border-radius: 4px;
    justify-content: center;
    height: 100%;
    width: 400px;

}
.NavbarRedirectLinkSingleRedirect {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:5px;
    border-radius: 4px;
    width: 100px;
    height: 50%;
    border: 1px solid blue;

}

.maxWidthWrapper {
    display: flex;
    flex-direction: column;
    width: 1600px;
    border: 1px solid orange;
    margin: 0px auto;
    align-items: center;

}

.NavbarRedirectLinkSingleRedirectIcon {
    width: 100%;
    height: 100%;
    border:1px solid salmon;
}
