.profileInfoWrapper {
    display: flex;
    flex-direction: row;
    width: 1600px;

    margin: 0 auto;
    align-items: center;

}

.profileInfoOptionsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: auto;
    border: 1px solid red;

}
.profileInfoOptionsList {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 0px 0px 0px 0px;
}
.profileInfoOptionsSingleOption {
    width: 100%;
    height: 60px;
    border:1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profileInfoOptionsSingleOptionRedirecter {
    width: 100%;
    height: 100%;
    border:1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.profileInfoOptionsText {
    margin: 0px;
}

.profileInfoProfileWrapper {
    display: flex;
    width: 600px;
    height: 300px;
  
   
}

.profileInfoProfileWrapperLeft,
.profileInfoProfileWrapperRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profileInfoProfileWrapperRight {
    margin-left: auto;
    width: 250px;
    height: 100%;
}
.profileInfoProfileWrapperLeft {
    width: 350px;
    height: 100%;
}

.profileInfoProfilePhoto{
    width: 100%;
    height: 250px;
}
.profileInfoProfilePhotoChangeInputbox {
    width: 100%;
}
.profileInfoProfileSaveChangesButton {
    width: 50%;
    height: 30px;
}
.profileInfoProfileWrapperLeft input {
    margin-bottom: 30px;
}