.adminAccountWrapper {
    display: flex;
    flex-direction: row;
    width: 1600px;
    border:1px solid white;
    margin: 0 auto;
    align-items: center;

}

.adminAccountProfileWrapper {
    display: flex;
    width: 1200px;
    border:2px solid white;
    border-radius: 4px;

}
body {
    margin:0px;
}

.adminAccountProfileWrapperLeft,
.adminAccountProfileWrapperRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.adminAccountProfileWrapperRight {
    width: 250px;
    height: 100%;
}
.adminAccountProfileWrapperLeft {
    width: 350px;
    height: 100%;
}

.adminAccountProfilePhoto{
    width: 100%;
    height: 250px;
}
.adminAccountProfilePhotoChangeInputbox {
    width: 100%;
}
.adminAccountProfileSaveChangesButton {
    width: 50%;
    height: 30px;
 
}
.adminAccountProfileWrapperLeft input {
    margin-bottom: 30px;
}

.adminAccountProfileWrapperInnerWrapper {
    display: flex;
    flex-direction: row;
}
.adminAccountProfileWrapperInnerWrapperSelectBox {
    height: 50%;
    width: 100px;
    
}

.adminAccountProfileBirthTextbox{
    height: 50%;
    width: 50%;
    color: white;
    background: #4C8FFB;
    margin-left: 10px;
    border-radius: 4px;
}